@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inventory-container {
  background-image: url('/inventoryBackground.png');
  font-family: 'Press Start 2P', cursive;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.inventory-item {
  background-image: url('/itemBackground.jpg');
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.inventory-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.blur {
  animation: blurEffect 0.5s ease-in-out;
}

@keyframes blurEffect {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@font-face {
  font-family: 'DeerSnow';
  src: url('/fonts/DeerSnowRegular-nAxR0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-deersnow {
  font-family: 'DeerSnow', sans-serif;
}

.navbar:hover .nav-content {
  display: flex;
}

/* style.css */
.logos-container {
  position: fixed;
  top: 5vh; /* Adjust as needed */
  right: 3vw; /* Adjust as needed */
  display: grid;
  gap: 60px;
  z-index: 50;
}

.logo {
  color: #645f5f; /* Light gray color */
  transition: transform 0.3s ease, color 0.3s ease;
}

.logo:hover {
  color: #d6ccc2; /* Cyan color on hover */
  transform: scale(1.2); /* Scale up on hover */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
}

.logo.bouncing {
  animation: bounce 2s infinite;
}

